* {
    box-sizing: border-box;
}

@media screen and (max-width:400px) {


.header-img, img{
    width: 339px;
    height: 224px;
}

.alert-info {
    border: 2px solid black;
    background-color: lightskyblue;
    text-align: center;


}
.alert-info a {
    list-style: none;
    text-decoration: none;

}

h1 {
    text-align: center
}
nav ul li {
    text-decoration: none;
    list-style:none;
    margin:0 auto;
}



}



